.nav-link:hover{
    background-color: green;
    cursor: pointer;
}

.sidebar{
    width: 23%;
}

.nav-link-chosen{
    background-color: green;
    cursor: pointer; 
    padding: 30px 15px;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    text-transform: uppercase;
    transition: .5s;
}

#submenu {transition: ease-in .3s;}